.portfolio {
  margin: 0 70px 169px;
}

.portfolio__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #a0a0a0;
  margin: 0 0 30px 0;
}

.portfolio__list {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.portfolio__name {
  margin: 0;
  padding: 0;
}

.portfolio__list-link {
  margin: 20px 0 0 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e8e8e8;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  text-decoration: none;
  color: #000000;
  padding: 20px 0 19px;
  margin: 0;
  cursor: pointer;
}

.portfolio__icon {
  align-self: center;
}

@media screen and (max-width: 768px) {
  .portfolio {
    margin: 0 14px 149px;
  }

  .portfolio__title {
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 40px 0;
  }
  .portfolio__list-link {
    font-size: 18px;
    line-height: 28px;
  }
}
