.promo {
  background-color: #073042;
  background-image: url(../../../images/pic__COLOR_landing-logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.promo__title {
  margin: 184px 0 224px 0;
  max-width: 730px;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
  padding: 0;
}

@media screen and (max-width: 1155px) {
    .promo__title {
        margin: 326px auto 342px ;
        
    }
  }


@media screen and (max-width: 768px) {
  .promo__title {
    font-size: 31px;
    line-height: 39px;
    margin: 207px 0 246px 0;
  }
}
